name: DoxyGen build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build-doxygen:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: overwrite doxygen tags
      run: |
        mkdir docs
        touch doxygenAction
        echo "PROJECT_NUMBER = v1.0.${{ github.ref }}" >> doxygenAction
        echo "@INCLUDE = doxygenAction" >> Doxyfile
    - name: build doxygen
      uses: mattnotmitt/doxygen-action@v1
      with:
          working-directory: '.'
          doxyfile-path: './Doxyfile'
    - name: upload to github pages
      # if: ${{ github.event_name == 'release'}}
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/html